<footer class="footer pt-3" style="background-color: antiquewhite; border-radius: 15px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; FoodTech 2023.</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline text-md-end">
            <li class="list-inline-item"><a class="" style="text-decoration: none; color: black;" href="#">Acerca de</a></li>
            <div class="vr"></div>
            <li class="list-inline-item"><a class="" style="text-decoration: none; color: black;" href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  