{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
Inicio
{% endblock titulo %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}
{% block contenido %}
<main>
    <!-- estilos padding bootstrap -->
    <h1 class="mb-3 pt-3">Menu del día</h1>
    <!-- Card -->
    <!-- A futuro ira un cilco for acá con solo el elemento -->

    <section class="">
        <div class="row">
            <!-- Empieza a recorrer la lista de diccionarios -->
            {% for producto in productos %}
                
            
            <section class="col-md-4">
                <article class="card pb-3">
                    <img src="{% static producto.img %}" class="card-img-top cardi" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
                        <section class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">{{ producto.precio }}</a>
                        </section>
                    </div>
                    <div class="">
                        <a href="" class="btn btn-dark">Comprar</a>
                    </div>
                </article>
            </section>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock contenido %}
</body>

</html>