
.titulo{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-shadow: 0px 0px 6px purple;
}

.cardi{
    height: 190px;
    border-radius: 4px;
}

main{
    background: rgb(240, 240, 240);
}

main h1{
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
}

section > article > h5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main > section{
    display: flex;
    justify-content: center;
}

/* Posicion del boton */
main > section div:nth-child(3){
    display: flex;
    justify-content: center;
}
