nav > div > a img{
    height: 70px;
}

nav > div > a{
    margin: -10px;
}

.texton{
    color: rgb(46, 46, 46);
    font-size: 17px;
    font-family: 'Impact';
    text-decoration: none;
    cursor: pointer;
}

.navcolor{
    background: linear-gradient(rgb(255, 181, 181), rgb(224, 209, 255)); 
    border: 0.060em solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
    border-image-slice: 1;
    border-radius: 3px;
}